{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        {
            "files": ["*.jsonc"],
            "options": { "printWidth": 200, "trailingComma": "none" }
        }
    ],
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "quoteProps": "consistent",
    "htmlWhitespaceSensitivity": "ignore"
}
