@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.preset-gradient-bg {
    background: linear-gradient(
        90deg,
        var(--color-secondary-300-700) 0%,
        var(--color-primary-300-700) 20%,
        var(--color-primary-300-700) 80%,
        var(--color-secondary-300-700) 100%
    );
}
.preset-gradient-button {
    background-image: linear-gradient(
        90deg,
        var(--color-primary-200-800),
        var(--color-primary-100-900)
    );
    color: var(--color-surface-950-50);
}

@layer components {
    @keyframes target-pulse {
        0% {
            background-color: var(--color-warning-200-800);
            background-opacity: 0.4;
        }
        100% {
            background-color: transparent;
        }
    }

    .highlight-target:target {
        animation: target-pulse 3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    [data-table-container] {
        @apply w-full overflow-x-auto rounded-lg border shadow-md;
        @apply border-surface-200-800 bg-surface-50-950 lg:w-fit lg:min-w-md;
    }

    /* Paradigm Table Styling */
    [data-table-theme="paradigm"] {
        @apply w-full table-auto border-collapse text-left text-sm lg:text-base;

        & thead tr {
            @apply bg-surface-200-800/60 border-surface-200-800 divide-surface-200-800 divide-x border-b;
        }

        & th {
            @apply p-2 font-bold tracking-wider uppercase opacity-70 lg:p-4;
        }

        & tbody {
            @apply divide-surface-100-900 divide-y;
        }

        & tbody tr {
            @apply hover:bg-primary-500/5 divide-surface-100-900 h-full divide-x transition-colors;
        }

        & tbody tr.separator {
            @apply border-surface-200-800 border-b-2;
        }

        & tbody tr td {
            @apply h-full items-center p-2 lg:p-4;
        }

        & tbody tr td.label {
            @apply bg-surface-100-900/50 w-px font-medium whitespace-nowrap opacity-80;
        }

        & tbody tr td.header {
            @apply font-bold;
        }
    }
}
