@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.preset-gradient-bg {
    background: linear-gradient(
        90deg,
        var(--color-secondary-300-700) 0%,
        var(--color-primary-300-700) 20%,
        var(--color-primary-300-700) 80%,
        var(--color-secondary-300-700) 100%
    );
}
.preset-gradient-button {
    background-image: linear-gradient(
        90deg,
        var(--color-primary-200-800),
        var(--color-primary-100-900)
    );
    color: var(--color-surface-950-50);
}
